# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Directories
/ENV
/src/Sessions
/src/main/java/org/Tweakio/AI/ChatLogs
/src/main/java/org/Tweakio/FilesSaved/
# Ignore saved_data.ser
/src/main/java/org/Tweakio/FilesSaved/saved_data.ser
